
.section-title {
  font-weight: 600;
  margin-bottom: 1rem;
}

.info-card {
  border-radius: 1rem;
  padding: 2rem;
  transition: all 0.2s ease;
  height: 100%;
  background: transparent;
}

.info-card:hover {
  background-color: #0420301a;
}

.info-cards{
  background-color: #a3a6cd;
  color: #ffffff;
  border-radius: 1rem;
  padding: 2rem;
}
