.navbar {
  background-color: #ffffff !important;
  font-size: 16px;
  padding-top: 17px;
  padding-bottom: 17px;
}

.nav-item {
  padding: 4px;
}

.nav-link {
  color: #2e2d2d !important;
  border-radius: 10px;
  padding: 2px;
}

.nav-link:hover {
  background-color: #0420301a;
}

.nav-link.active {
  background-color: #0420301a;
}

.navbar-toggler-icon {
  filter: invert(1);
}

.navbar-toggler {
  background-color: #b0ccd5 !important;
}
