:host {
  position: sticky;
  top: 0;
  z-index: 1000;
}

.navbar {
  background-color: #2d574a !important;
  border-bottom: 1px solid #ebe3e3;
}

.nav-link {
  color: #ebe3e3 !important;
}

.navbar-toggler-icon {
  filter: invert(1);
}

.navbar-toggler {
  background-color: #f6f1f1 !important;
}
