$font-family: 'Open Sans', sans-serif;
$font-size: 15px;
$main-color: #4f87fb;
$black-color: #130947;
$white-color: #ffffff;
$optional-color: #606060;
$transition: .5s;

body {
    padding: 0;
    margin: 0;
    font: {
        family: $font-family;
        size: $font-size;
    };
}
:focus {
    outline: 0 !important;
}
a {
    text-decoration: none;
    color: $black-color;
    transition: $transition;

    &:hover {
        text-decoration: none;
        color: $main-color;
    }
}
img {
    height: auto;
    max-width: 100%;
}
.d-table {
    width: 100%;
    height: 100%;

    &-cell {
        vertical-align: middle;
    }
}
p {
    margin-bottom: 15px;
    line-height: 1.8;
    color: $optional-color;

    &:last-child {
        margin-bottom: 0;
    }
}
.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
    font-family: $font-family;
    color: $black-color;
}
.bg-f9f9f9 {
    background-color: #f9f9f9;
}
.ptb-100 {
    padding: {
        top: 100px;
        bottom: 100px;
    };
}
.pt-100 {
    padding-top: 100px;
}
.pb-100 {
    padding-bottom: 100px;
}
.ptb-70 {
    padding: {
        top: 70px;
        bottom: 70px;
    };
}
.pt-70 {
    padding-top: 70px;
}
.pb-70 {
    padding-bottom: 70px;
}
.container {
    max-width: 1230px;
}
/*default&optional-btn*/
.default-btn {
    position: relative;
    z-index: 1;
    text-transform: capitalize;
    background-color: $main-color;
    color: $white-color;
    border: 1px solid $main-color;
    display: inline-block;
    transition: $transition;
    padding: 12px 25px 12px 50px;
    border-radius: 5px;
    font: {
        size: 14px;
        weight: 700;
    };
    i {
        position: absolute;
        left: 25px;
        top: 49%;
        transform: translateY(-49%);
        font-size: 15px;
    }
    &:hover {
        color: $white-color;
        border-color: $black-color;
        background-color: $black-color;
    }
}
.optional-btn {
    position: relative;
    z-index: 1;
    text-transform: capitalize;
    background-color: $black-color;
    color: $white-color;
    display: inline-block;
    transition: $transition;
    padding: 11.9px 25px 11.9px 50px;
    border-radius: 5px;
    border: 1px solid $black-color;
    font: {
        size: 14px;
        weight: 700;
    };
    i {
        position: absolute;
        left: 25px;
        top: 48%;
        transform: translateY(-48%);
        font-size: 15px;
    }
    &:hover {
        color: $white-color;
        background-color: $main-color;
        border-color: $main-color;

        &::before {
            border-color: $main-color;
        }
    }
}
/*section-title*/
.section-title {
    text-align: center;
    margin-bottom: 60px;

    .sub-title {
        text-transform: uppercase;
        margin-bottom: 10px;
        color: $main-color;
        display: block;
        font: {
            size: 14px;
            weight: 600;
        };
    }
    h2 {
        margin-bottom: 0;
        font: {
            size: 35px;
            weight: 800;
        };
    }
}
/*form-control*/
.form-control {
    background-color: #f5f5f5;
    height: 48px;
    border-radius: 0;
    box-shadow: unset !important;
    padding: 0 0 0 15px;
    border: 1px solid #f5f5f5;
    color: $black-color;
    font-size: $font-size;
    transition: $transition;

    &:focus {
        border-color: $main-color;
        background-color: $white-color;

        &::placeholder {
            color: transparent;
        }
    }
    &::placeholder {
        transition: $transition;
    }
}
textarea.form-control {
    padding-top: 15px;
    height: auto !important;
}

.top-header {
    background-color: #f5f8ff;
    padding: {
        top: 10px;
        bottom: 10px;
    };
}
.top-header-social {
    padding-left: 0;
    margin-bottom: 0;
    list-style-type: none;

    li {
        display: inline-block;
        margin-right: 7px;

        a {
            display: block;
            color: $main-color;
            font-size: 20px;

            &:hover {
                color: $black-color;
                transform: translateY(-2px);
            }
        }
        &:last-child {
            margin-right: 0;
        }
    }
}
.top-header-contact-info {
    padding-left: 0;
    margin-bottom: 0;
    text-align: right;
    list-style-type: none;

    li {
        display: inline-block;
        margin-right: 12px;
        color: $black-color;
        font-size: 14px;
        position: relative;
        padding-left: 24px;

        i {
            position: absolute;
            left: 0;
            top: 1px;
            color: $main-color;
            font-size: 18px;
        }
        a {
            display: inline-block;
            font-weight: 600;
        }
        &:first-child {
            margin-left: 0;
        }
    }
}
.navbar-area {
    transition: $transition;

    &.is-sticky {
        opacity: 1;
        visibility: visible;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        z-index: 999;
        box-shadow: 0 2px 28px 0 rgba(0, 0, 0, 0.06);
        background: $white-color !important;
        animation: .5s ease-in-out 0s normal none 1 running fadeInDown;
    }
    &.navbar-style-two {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        z-index: 999;
        height: auto;
        background-color: transparent;

        .qovid-nav {
            background-color: transparent;

            .navbar {
                .navbar-nav {
                    .nav-item {        
                        a {
                            color: $white-color;

                            &:hover, &:focus, &.active {
                                color: $white-color;
                            }
                        }
                        &:hover, &.active {
                            a {
                                color: $white-color;
                            }
                        }
                        .dropdown-menu {
                            li {
                                a {
                                    color: $black-color;
                                    
                                    &:hover, &:focus, &.active {
                                        color: $main-color;
                                    }
                                }
                                .dropdown-menu {
                                    li {
                                        a {
                                            color: $black-color;
                                            
                                            &:hover, &:focus, &.active {
                                                color: $main-color;
                                            }
                                        }
                                        .dropdown-menu {
                                            li {
                                                a {
                                                    color: $black-color;
                                                    
                                                    &:hover, &:focus, &.active {
                                                        color: $main-color;
                                                    }
                                                }
                                                .dropdown-menu {
                                                    li {
                                                        a {
                                                            color: $black-color;
                                                            
                                                            &:hover, &:focus, &.active {
                                                                color: $main-color;
                                                            }
                                                        }
                                                        .dropdown-menu {
                                                            li {
                                                                a {
                                                                    color: $black-color;
                                                                    
                                                                    &:hover, &:focus, &.active {
                                                                        color: $main-color;
                                                                    }
                                                                }
                                                                .dropdown-menu {
                                                                    li {
                                                                        a {
                                                                            color: $black-color;
                                                                            
                                                                            &:hover, &:focus, &.active {
                                                                                color: $main-color;
                                                                            }
                                                                        }
                                                                        .dropdown-menu {
                                                                            left: 250px;
                                                                            top: 0;
                                                                            opacity: 0;
                                                                            visibility: hidden;
                                                                            transform: scaleY(0);
                                                
                                                                            li {
                                                                                a {
                                                                                    color: $black-color;
                                                                                    
                                                                                    &:hover, &:focus, &.active {
                                                                                        color: $main-color;
                                                                                    }
                                                                                }
                                                                            }
                                                                        }
                                                                        &.active {
                                                                            a {
                                                                                color: $main-color;
                                                                            }
                                                                        }
                                                                    }
                                                                }
                                                                &.active {
                                                                    a {
                                                                        color: $main-color;
                                                                    }
                                                                }
                                                            }
                                                        }
                                                        &.active {
                                                            a {
                                                                color: $main-color;
                                                            }
                                                        }
                                                    }
                                                }
                                                &.active {
                                                    a {
                                                        color: $main-color;
                                                    }
                                                }
                                            }
                                        }
                                        &.active {
                                            a {
                                                color: $main-color;
                                            }
                                        }
                                    }
                                }
                                &.active {
                                    a {
                                        color: $main-color;
                                    }
                                }
                            }
                        }
                    }
                }
                .others-option {
                    padding-left: 0;
                    margin-left: 24px;

                    &::before {
                        display: none;
                    }
                }
            }
        }
        .container-fluid {
            padding: {
                left: 50px;
                right: 50px;
            };
        }
        &.is-sticky {
            opacity: 1;
            visibility: visible;
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            z-index: 999;
            box-shadow: 0 2px 28px 0 rgba(0, 0, 0, 0.06);
            background: $black-color !important;
            animation: .5s ease-in-out 0s normal none 1 running fadeInDown;

            .qovid-nav {
                .navbar {
                    .others-option {
                        .option-item {
                            .default-btn {
                                border-color: $white-color;
                                background-color: $white-color;
                                color: $black-color;
            
                                &:hover {
                                    background-color: $main-color;
                                    color: $white-color;
                                    border-color: $main-color;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    &.navbar-style-three {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        z-index: 999;
        height: auto;
        background-color: transparent;

        .qovid-nav {
            background-color: transparent;

            .navbar {
                .others-option {
                    padding-left: 0;
                    margin-left: 24px;

                    &::before {
                        display: none;
                    }
                    .option-item {
                        .default-btn {
                            background-color: #ac0001;
                            border-color: #ac0001;
                            color: $white-color;
                            border-radius: 30px;
                            padding: {
                                top: 11px;
                                bottom: 11px;
                            };
                            &:hover {
                                color: $white-color;
                                border-color: $main-color;
                                background-color: $main-color;
                            }
                        }
                    }
                }
            }
        }
        .container-fluid {
            padding: {
                left: 60px;
                right: 60px;
            };
        }
        &.is-sticky {
            opacity: 1;
            visibility: visible;
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            z-index: 999;
            box-shadow: 0 2px 28px 0 rgba(0, 0, 0, 0.06);
            background: $white-color !important;
            animation: .5s ease-in-out 0s normal none 1 running fadeInDown;
        }
    }
}
.qovid-responsive-nav {
    display: none;
}
.qovid-nav {
    background-color: $white-color;
    padding: {
        top: 10px;
        bottom: 10px;
    };
    .navbar {
        padding: {
            left: 0;
            right: 0;
            top: 0;
            bottom: 0;
        };      
        .navbar-brand {
            font-size: inherit;
            line-height: 1;
            padding: {
                top: 0;
                bottom: 0;
                left: 0;
                right: 0;
            };
        }
        ul {
            padding-left: 0;
            list-style-type: none;
            margin-bottom: 0;
        }
        .navbar-nav {
            margin: {
                left: auto;
            };
            .nav-item {
                position: relative;

                a {
                    color: $black-color;
                    text-transform: uppercase;
                    font: {
                        size: 14px;
                        weight: 700;
                    };
                    padding: {
                        left: 0;
                        right: 0;
                        top: 20px;
                        bottom: 20px;
                    };
                    margin: {
                        left: 12px;
                        right: 12px;
                    };
                    i {
                        line-height: 1;
                        font-size: 18px;
                        position: relative;
                        top: 2px;
                        display: inline-block;
                        margin: {
                            left: -3px;
                            right: -3px;
                        };
                    }
                    &:hover, &:focus, &.active {
                        color: $main-color;
                    }
                }
                &:last-child {
                    a {
                        margin-right: 0;
                    }
                }
                &:first-child {
                    a {
                        margin-left: 0;
                    }
                }
                &:hover, &.active {
                    a {
                        color: $main-color;
                    }
                }
                .dropdown-menu {
                    box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.1);
                    background: $white-color;
                    position: absolute;
                    border: none;
                    top: 70px;
                    left: 0;
                    width: 250px;
                    z-index: 99;
                    display: block;
                    opacity: 0;
                    visibility: hidden;
                    border-radius: 0;
                    margin: 0;
                    transition: all 0.2s ease-in-out;
                    padding: 0;
                    transform: scaleX(0);

                    li {
                        a {
                            padding: 13px 20px 11px;
                            margin: 0;
                            position: relative;
                            display: block;
                            color: $black-color;
                            border-bottom: 1px dashed #e5e5e5;
                            text-transform: capitalize;
                            font: {
                                size: 15px;
                                weight: 600;
                            };
                            i {
                                margin: 0;
                                position: absolute;
                                top: 50%;
                                font-size: 20px;
                                transform: translateY(-50%);
                                right: 10px;
                            }
                            &:hover, &:focus, &.active {
                                color: $main-color;
                            }
                        }
                        .dropdown-menu {
                            left: -250px;
                            top: 0;
                            opacity: 0;
                            visibility: hidden;
                            transform: scaleY(0);
                            
                            li {
                                a {
                                    color: $black-color;
                                    
                                    &:hover, &:focus, &.active {
                                        color: $main-color;
                                    }
                                }
                                .dropdown-menu {
                                    left: 250px;
                                    top: 0;
                                    opacity: 0;
                                    visibility: hidden;
                                    transform: scaleY(0);
        
                                    li {
                                        a {
                                            color: $black-color;
        
                                            &:hover, &:focus, &.active {
                                                color: $main-color;
                                            }
                                        }
                                        .dropdown-menu {
                                            left: -250px;
                                            top: 0;
                                            opacity: 0;
                                            visibility: hidden;
                                            transform: scaleY(0);
                
                                            li {
                                                a {
                                                    color: $black-color;
                
                                                    &:hover, &:focus, &.active {
                                                        color: $main-color;
                                                    }
                                                }
                                                .dropdown-menu {
                                                    left: 250px;
                                                    top: 0;
                                                    opacity: 0;
                                                    visibility: hidden;
                                                    transform: scaleY(0);
                        
                                                    li {
                                                        a {
                                                            color: $black-color;
                
                                                            &:hover, &:focus, &.active {
                                                                color: $main-color;
                                                            }
                                                        }
                                                        .dropdown-menu {
                                                            left: -250px;
                                                            top: 0;
                                                            opacity: 0;
                                                            visibility: hidden;
                                                            transform: scaleY(0);
                                
                                                            li {
                                                                a {
                                                                    color: $black-color;
                
                                                                    &:hover, &:focus, &.active {
                                                                        color: $main-color;
                                                                    }
                                                                }
                                                                .dropdown-menu {
                                                                    left: 250px;
                                                                    top: 0;
                                                                    opacity: 0;
                                                                    visibility: hidden;
                                                                    transform: scaleY(0);
                                        
                                                                    li {
                                                                        a {
                                                                            color: $black-color;
                
                                                                            &:hover, &:focus, &.active {
                                                                                color: $main-color;
                                                                            }
                                                                        }
                                                                    }
                                                                }
                                                                &.active {
                                                                    a {
                                                                        color: $main-color;
                                                                    }
                                                                }
                                                                &:hover {
                                                                    .dropdown-menu {
                                                                        opacity: 1;
                                                                        visibility: visible;
                                                                        transform: scaleY(1);
                                                                    }
                                                                }
                                                            }
                                                        }
                                                        &.active {
                                                            a {
                                                                color: $main-color;
                                                            }
                                                        }
                                                        &:hover {
                                                            .dropdown-menu {
                                                                opacity: 1;
                                                                visibility: visible;
                                                                transform: scaleY(1);
                                                            }
                                                        }
                                                    }
                                                }
                                                &.active {
                                                    a {
                                                        color: $main-color;
                                                    }
                                                }
                                                &:hover {
                                                    .dropdown-menu {
                                                        opacity: 1;
                                                        visibility: visible;
                                                        transform: scaleY(1);
                                                    }
                                                }
                                            }
                                        }
                                        &.active {
                                            a {
                                                color: $main-color;
                                            }
                                        }
                                        &:hover {
                                            .dropdown-menu {
                                                opacity: 1;
                                                visibility: visible;
                                                transform: scaleY(1);
                                            }
                                        }
                                    }
                                }
                                &.active {
                                    a {
                                        color: $main-color;
                                    }
                                }
                                &:hover {
                                    .dropdown-menu {
                                        opacity: 1;
                                        visibility: visible;
                                        transform: scaleY(1);
                                    }
                                }
                            }
                        }
                        &.active {
                            a {
                                color: $main-color;
                            }
                        }
                        &:hover {
                            .dropdown-menu {
                                opacity: 1;
                                visibility: visible;
                                transform: scaleY(1);
                            }
                        }
                    }
                }
                &:hover {
                    .dropdown-menu {
                        opacity: 1;
                        visibility: visible;
                        transform: scaleX(1);
                    }
                }
            }
        }
        .others-option {
            position: relative;
            margin-left: 18px;
            padding-left: 18px;

            &::before {
                content: '';
                position: absolute;
                left: 0;
                top: 12px;
                width: 2px;
                height: 25px;
                background-color: #bdbbcc;
            }
            .option-item {
                display: inline-block;
                margin-left: 20px;
                position: relative;
                z-index: 3;

                &:first-child {
                    margin-left: 0;
                }
                .search-btn-box {
                    position: relative;
                    top: 2px;
                    
                    .search-btn {
                        font-size: 25px;
                        cursor: pointer;
                        color: $black-color;
                        transition: $transition;

                        &:hover {
                            color: $main-color;
                        }
                    }
                }
                .cart-btn {
                    font-size: 25px;
                    position: relative;
                    line-height: 1;

                    a {
                        display: inline-block;
                        position: relative;
                        color: $black-color;

                        span {
                            position: absolute;
                            right: -4px;
                            top: -4px;
                            width: 14px;
                            height: 14px;
                            text-align: center;
                            line-height: 13.9px;
                            border-radius: 50%;
                            color: $white-color;
                            background-color:$main-color;
                            font: {
                                size: 10px;
                                weight: 600;
                            };
                        }
                        &:hover {
                            color: $main-color;
                        }
                    }
                }
                .default-btn {
                    border-color: $black-color;
                    background-color: $black-color;
                    color: $white-color;

                    &:hover {
                        background-color: $main-color;
                        color: $white-color;
                        border-color: $main-color;
                    }
                }
            }
        }
    }
}
/*new-css*/
.onepage-navbar {
    &.navbar {
        background-color: $white-color;
        padding: {
            left: 0;
            right: 0;
            top: 10px;
            bottom: 10px;
        };
    }
    &.navbar-light {
        .navbar-brand {
            font-size: inherit;
            line-height: 1;
            padding: {
                top: 0;
                bottom: 0;
                left: 0;
                right: 0;
            };
        }
        ul {
            padding-left: 0;
            list-style-type: none;
            margin-bottom: 0;
        }
        .navbar-nav {
           margin-left: auto;

            .nav-item {    
                a {
                    color: $black-color;
                    text-transform: uppercase;
                    font: {
                        size: 14px;
                        weight: 700;
                    };
                    padding: {
                        left: 0;
                        right: 0;
                        top: 20px;
                        bottom: 20px;
                    };
                    margin: {
                        left: 12px;
                        right: 12px;
                    };
                    &:hover, &:focus, &.active {
                        color: $main-color;
                    }
                }
                &:last-child {
                    a {
                        margin-right: 0;
                    }
                }
                &:first-child {
                    a {
                        margin-left: 0;
                    }
                }
                &:hover, &.active {
                    a {
                        color: $main-color;
                    }
                }
            }
        }
    }
    &.is-sticky {
        opacity: 1;
        visibility: visible;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        z-index: 999;
        box-shadow: 0 2px 28px 0 rgba(0, 0, 0, 0.06);
        background: $white-color !important;
        animation: .5s ease-in-out 0s normal none 1 running fadeInDown;
    }
}
/*new-css*/

// Mobile Navbar
@media only screen and (max-width: 767px) {

    .navbar-area {
        padding: {
            top: 15px;
            bottom: 15px;
        };
        &.navbar-style-two {
            .container-fluid {
                padding: {
                    left: 15px;
                    right: 15px;
                };
            }
            .qovid-nav {
                .navbar-light {
                    .navbar-toggler {
                        border-color: $white-color;
                    }
                    .navbar-toggler-icon {
                        background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255, 255, 255, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
                    }
                }
                .navbar {
                    .others-option {
                        margin-left: 0;
                        padding-left: 15px;
                    }
                    .navbar-nav {
                        .nav-item {
                            a {
                                color: $black-color;
                            }
                        }
                    }
                }
            }
        }
        &.navbar-style-three {
            .container-fluid {
                padding: {
                    left: 15px;
                    right: 15px;
                };
            }
        }
    }
    .qovid-nav {
        padding: {
            top: 0;
            bottom: 0;
        };
        .navbar-light {
            .navbar-toggler {
                border-color: $black-color;
                border-radius: 0;
            }
            .navbar-toggler-icon {
                background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(0, 0, 0, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
            }
        }
        .navbar {
            .navbar-nav {
                border: 1px solid #eeeeee;
                padding: 10px 20px;
                height: 350px;
                background-color: $white-color;
                overflow-y: scroll;
                margin: {
                    left: 0;
                    top: 15px;
                };
                .nav-item {
                    a {
                        padding: {
                            top: 10px;
                            bottom: 10px;
                        };
                        margin: {
                            left: 0;
                            right: 0;
                        };
                    }
                    .dropdown-menu {
                        box-shadow: unset;
                        background: transparent;
                        position: relative;
                        top: 0;
                        left: 0;
                        width: 100%;
                        opacity: 1;
                        visibility: visible;
                        transform: unset;

                        li {
                            a {
                                padding: 8px 15px;
                                border-bottom: none;
                                font-size: 14.5px;

                                i {
                                    transform: rotate(90deg);
                                }
                            }
                            .dropdown-menu {
                                box-shadow: unset;
                                background: transparent;
                                position: relative;
                                top: 0;
                                left: 0;
                                width: 100%;
                                opacity: 1;
                                visibility: visible;
                                transform: unset;
                                padding: 0 18px;

                                li {
                                    .dropdown-menu {
                                        box-shadow: unset;
                                        background: transparent;
                                        position: relative;
                                        top: 0;
                                        left: 0;
                                        width: 100%;
                                        opacity: 1;
                                        visibility: visible;
                                        transform: unset;
                                        padding: 0 18px;

                                        li {
                                            .dropdown-menu {
                                                box-shadow: unset;
                                                background: transparent;
                                                position: relative;
                                                top: 0;
                                                left: 0;
                                                width: 100%;
                                                opacity: 1;
                                                visibility: visible;
                                                transform: unset;
                                                padding: 0 18px;

                                                li {
                                                    .dropdown-menu {
                                                        box-shadow: unset;
                                                        background: transparent;
                                                        position: relative;
                                                        top: 0;
                                                        left: 0;
                                                        width: 100%;
                                                        opacity: 1;
                                                        visibility: visible;
                                                        transform: unset;
                                                        padding: 0 18px;
                                                    }
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
            .others-option {
                background-color: $white-color;
                position: relative;
                margin-left: 0;
                border: 1px solid #eeeeee;
                border-top: none;
                padding: 15px 20px;

                &::before {
                    display: none;
                }
                .search-btn-box {
                    display: none;
                }
                .option-item {
                    margin-left: 15px;
                }
            }
        }
    }
    .onepage-navbar {
        &.navbar {
            border-bottom: 1px solid #eeeeee;
            padding: {
                top: 15px;
                bottom: 15px;
            };
            .container {
                padding: {
                    left: 15px;
                    right: 15px;
                };
            }
            &.is-sticky {
                border-bottom: none;
            }
        }
        &.navbar-light {
            .navbar-toggler {
                color: $black-color;
                border: none;
                padding: 0;
    
                .burger-menu {
                    cursor: pointer;
                    transition: $transition;
        
                    span {
                        height: 2px;
                        width: 30px;
                        background: $black-color;
                        display: block;
                        margin: 6px 0;
                        transition: all .50s ease-in-out;
                    }
                    &.active {
                        span {
                            &.top-bar {
                                transform: rotate(45deg);
                                transform-origin: 10% 10%;
                            }
                            &.middle-bar {
                                opacity: 0;
                            }
                            &.bottom-bar {
                                transform: rotate(-45deg);
                                transform-origin: 10% 90%;
                                margin-top: 5px;
                            }
                        }
                    }
                }
            }
            .navbar-nav {
                background-color: $white-color;
                border: 1px solid #eeeeee;
                margin-top: 15px;
                padding: {
                    left: 15px;
                    right: 15px;
                    top: 8px;
                    bottom: 8px;
                };
                .nav-item {
                    .nav-link {
                        padding: {
                            left: 0;
                            right: 0;
                            top: 8px;
                            bottom: 8px;
                        };
                        margin: {
                            left: 0;
                            right: 0;
                        };
                    }
                }
            }
        }
    }

}
// iPad Navbar for OnePage Home
@media only screen and (min-width: 768px) and (max-width: 991px) {

    .onepage-navbar {
        &.navbar {
            border-bottom: 1px solid #eeeeee;
            padding: {
                top: 15px;
                bottom: 15px;
            };
            .container {
                padding: {
                    left: 15px;
                    right: 15px;
                };
            }
            &.is-sticky {
                border-bottom: none;
            }
        }
        &.navbar-light {
            .navbar-toggler {
                color: $black-color;
                border: none;
                padding: 0;
    
                .burger-menu {
                    cursor: pointer;
                    transition: $transition;
        
                    span {
                        height: 2px;
                        width: 30px;
                        background: $black-color;
                        display: block;
                        margin: 6px 0;
                        transition: all .50s ease-in-out;
                    }
                    &.active {
                        span {
                            &.top-bar {
                                transform: rotate(45deg);
                                transform-origin: 10% 10%;
                            }
                            &.middle-bar {
                                opacity: 0;
                            }
                            &.bottom-bar {
                                transform: rotate(-45deg);
                                transform-origin: 10% 90%;
                                margin-top: 5px;
                            }
                        }
                    }
                }
            }
            .navbar-nav {
                background-color: $white-color;
                border: 1px solid #eeeeee;
                margin-top: 15px;
                padding: {
                    left: 15px;
                    right: 15px;
                    top: 8px;
                    bottom: 8px;
                };
                .nav-item {
                    .nav-link {
                        padding: {
                            left: 0;
                            right: 0;
                            top: 8px;
                            bottom: 8px;
                        };
                        margin: {
                            left: 0;
                            right: 0;
                        };
                    }
                }
            }
        }
    }

}