.navbar {
  background-color: #ffffff !important;
  font-size: 16px;
  padding-top: 17px;
  padding-bottom: 17px;
}

.nav-item {
  padding: 4px;
}

.nav-link {
  color: #4d5076 !important;
  border-radius: 10px;
  padding: 2px;
}

@media (min-width: 768px) {
  .nav-link {
  padding: 8px;
}
}

.nav-link:hover {
  background-color: #04ad611a;
}

.nav-link.active {
  background-color: #04ad611a;
}

.navbar-toggler-icon {
  filter: invert(1);
}

.navbar-toggler {
  background-color: #4d5076 !important;
}
