
.section-title {
  font-weight: 600;
}

.list-group-item {
  background: transparent;
  border-color: #beb9b9;
  color: #ebe3e3;
}

.list-group-item:hover {
  background: #7aa6aa;
}

.accordion-button{
  background: #f8d7da;
  border-bottom: 1px solid #ded9d9;
  padding: 10px;
}
