.section-title {
  font-weight: 600;
}

.list-group-item {
  background: transparent;
  border-color: #eee9e9;
  color: #4d5076;
}

.list-group-item:hover {
  background: #0420301a;
}

.accordion-button {
  background: #f5e5e6;
  border-bottom: 1px solid #eee9e9;
  padding: 12px;
  font-size: 22px;
  color: #4d5076;
}

.accordion-body{
  color: #4d5076;
}