.section-title {
  font-weight: 600;
}

.treatment-list {
  background-color: #a3a6cd;
  color: #ffffff;
  border-radius: 1rem;
  padding: 1rem;
}
.list-group-item {
  background: transparent;
  border-color: #c7c1c1;
  color: #ffffff;
}

.list-group-item:hover {
  background: #0420301a;
}

.accordion-button {
  background: #f5e5e6;
  border-bottom: 1px solid #eee9e9;
  padding: 12px;
  font-size: 16px;
  color: #4d5076;
}

@media (min-width: 768px) {
  .accordion-button {
    font-size: 22px;
  }
}

.accordion-body {
  color: #4d5076;
}
