.section-title {
  font-weight: 600;
}

.list-group-item {
  background: transparent;
  border-color: #beb9b9;
  color: #2e2d2d;
}

.list-group-item:hover {
  background: #7aa6aa;
}

.accordion-button {
  background: #f8d7da;
  border-bottom: 1px solid #ded9d9;
  padding: 12px;
  font-size: 22px;
}
