
.section-title {
  font-weight: 600;
}

.list-group-item {
  background: transparent;
  border-color: #5a5858;
  color: #ebe3e3;
}

.avoid-item {
  background: #f8d7da;
  padding: 7px;
  border-radius: 0.5rem;
}

.avoid-item:hover {
  background-color: #dec2c4;
}
