html,
body {
  height: 100%;
  margin: 0;
}

body {
  position: relative;
  overflow-x: hidden;
  font-family: -apple-system, BlinkMacSystemFont, 'SF Pro Text', 'SF Pro Display', 'Helvetica Neue',
    Helvetica, Arial, sans-serif;
  font-size: 16px;
}

.black {
  background: linear-gradient(135deg, #000000 0%, #676666 50%, #000000 100%);
  color: #ebe3e3;
}

.white {
  color: #2e2d2d;
  background: #ebe3e3;
}

.btn-black {
  background-color: black;
  color: #ebe3e3;
}

.btn-black:hover {
  background-color: white;
  color: #000000;
}

.btn-white:hover {
  background-color: black;
  color: #ebe3e3;
}

.btn-white {
  background-color: white;
  color: #000000;
}
