html,
body {
  height: 100%;
  margin: 0;
}

body {
  position: relative;
  background: #050617;
  overflow-x: hidden;
  color: rgb(168, 166, 176);
  font-family: -apple-system, BlinkMacSystemFont, 'SF Pro Text', 'SF Pro Display', 'Helvetica Neue',
    Helvetica, Arial, sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.45;
  letter-spacing: -0.01em;
}
