html,
body {
  height: 100%;
  margin: 0;
}

body {
  position: relative;
  overflow-x: hidden;
  font-size: 22px;
  background: #ebe3e3;
}

.black {
  background: linear-gradient(135deg, #77b3c7 0%, #88b8bc 50%, #77b3c7 100%);
  color: #ffffff;
}

.white {
  color: #2e2d2d;
  background: #ebe3e3;
}

.btn-black {
  background-color: #ffffff;
  color: #000000;
  border-radius: 50rem;
  border-color: #beb9b9;
}

.btn-white {
  background-color: #ffffff;
  color: #000000;
  border-radius: 50rem;
  border-color: #beb9b9;
}

.btn-black:hover {
  background-color: #3197d7;
  color: #ffffff;
  border-color: #beb9b9;
}

.btn-white:hover {
  background-color: #3197d7;
  color: #ffffff;
  border-color: #beb9b9;
}
