html,
body {
  height: 100%;
  margin: 0;
}

body {
  position: relative;
  overflow-x: hidden;
  font-size: 16px;
  background: #ffffff;
  color: #4d5076;
  font-family: 'Montserrat Alternates', Arial, sans-serif;
}

@media (min-width: 768px) {
  body {
    font-size: 22px;
  }
}

.btn {
  color: #ffffff;
  border-radius: 30px;
  background-color: #77ccf1;
}

.btn:hover {
  background-color: #5eaed0;
}
