html,
body {
  height: 100%;
  margin: 0;
}

body {
  position: relative;
  overflow-x: hidden;
  font-size: 22px;
  background: #ffffff;
  color: #4d5076;
  font-family: 'Montserrat Alternates', Arial, sans-serif;
}

.btn {
  color: #4d5076;
  border-radius: 30px;
}
