.section-title {
  font-weight: 600;
}

.list-group-item {
  background: transparent;
  border-color: #ded8d8;
}

.list-group-item:hover {
  background: #cde8eb;
}

.list-group-item a {
  text-decoration: none;
  color: inherit;
  display: block;
}

.accordion-button{
  background: #ded8d8;
  border-bottom: 1px solid #ded9d9;
  padding: 10px;
}