.section-title {
  font-weight: 600;
}

.list-group-item {
  background: transparent;
  border-color: #ded8d8;
}

.list-group-item:hover {
  background: #cac6c6;
}

.list-group-item a {
  text-decoration: none;
  color: inherit;
  display: block;
}

.section-book {
  border: 1px solid #b2adad;
  border-radius: 1rem;
  margin: 5px;
  background: #6f8e8c;
}

.section-video {
  border: 1px solid #b2adad;
  border-radius: 1rem;
  margin: 5px;
  background: #8d6d6d;
}

.section-channel {
  border: 1px solid #adb0b2;
  border-radius: 1rem;
  margin: 5px;
  background: #90a0b5;
}

.section-other {
  border: 1px solid #b2adad;
  border-radius: 1rem;
  margin: 5px;
  background: #d4b8a0;
}
