<section class="py-5">
  <div class="container">
    <h2 class="section-title text-center">Хаб</h2>
    <p class="text-center mx-auto">
      Здесь вы найдете подобранные ресурсы, которые помогут вам лучше изучить триггерные точки,
      анатомию мышц и методы лечения.
    </p>
  </div>
</section>

<section class="py-2">
  <div class="container">
    <div class="accordion hub-list g-2" id="accordionExample">
      <div class="accordion-item">
        <h2 class="accordion-header">
          <button
            class="accordion-button collapsed"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#collapseTwo"
            aria-expanded="false"
            aria-controls="collapseTwo"
          >
            Видео
          </button>
        </h2>
        <div
          id="collapseTwo"
          class="accordion-collapse collapse"
          data-bs-parent="#accordionExample"
        >
          <div class="accordion-body">
            <ul class="list-group">
              <li class="list-group-item">
                <a
                  href="https://www.youtube.com/watch?v=lCLa36-zbT4"
                  target="_blank"
                  rel="noopener noreferrer"
                  >Миопрессура - квадратная мышца поясницы</a
                >
              </li>
              <li class="list-group-item">
                <a
                  href="https://www.youtube.com/watch?v=lCLa36-zbT4"
                  target="_blank"
                  rel="noopener noreferrer"
                  >Миопрессура - подвздошно-поясничная мышца</a
                >
              </li>
              <li class="list-group-item">
                <a
                  href="https://www.youtube.com/watch?v=lCLa36-zbT4"
                  target="_blank"
                  rel="noopener noreferrer"
                  >Миопрессура - длиннейшая мышца спины</a
                >
              </li>
              <li class="list-group-item">
                <a
                  href="https://www.youtube.com/watch?v=lCLa36-zbT4"
                  target="_blank"
                  rel="noopener noreferrer"
                  >Миопрессура - подвздошно-реберная мышца</a
                >
              </li>
              <li class="list-group-item">
                <a
                  href="https://www.youtube.com/watch?v=lCLa36-zbT4"
                  target="_blank"
                  rel="noopener noreferrer"
                  >Миопрессура - лестничные мышцы</a
                >
              </li>
              <li class="list-group-item">
                <a
                  href="https://www.youtube.com/watch?v=lCLa36-zbT4"
                  target="_blank"
                  rel="noopener noreferrer"
                  >Миопрессура - большая грудная мышца</a
                >
              </li>
              <li class="list-group-item">
                <a
                  href="https://www.youtube.com/watch?v=lCLa36-zbT4"
                  target="_blank"
                  rel="noopener noreferrer"
                  >Миопрессура - малая грудная мышца</a
                >
              </li>
              <li class="list-group-item">
                <a
                  href="https://www.youtube.com/watch?v=lCLa36-zbT4"
                  target="_blank"
                  rel="noopener noreferrer"
                  >Миопрессура - поднимающая лопатку мышца</a
                >
              </li>
              <li class="list-group-item">
                <a
                  href="https://www.youtube.com/watch?v=lCLa36-zbT4"
                  target="_blank"
                  rel="noopener noreferrer"
                  >Миопрессура - ромбовидные мышцы</a
                >
              </li>
              <li class="list-group-item">
                <a
                  href="https://www.youtube.com/watch?v=lCLa36-zbT4"
                  target="_blank"
                  rel="noopener noreferrer"
                  >Миопрессура - широчайшая мышца спины</a
                >
              </li>
              <li class="list-group-item">
                <a
                  href="https://www.youtube.com/watch?v=lCLa36-zbT4"
                  target="_blank"
                  rel="noopener noreferrer"
                  >Миопрессура - ягодичные мышцы</a
                >
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="accordion-item">
        <h2 class="accordion-header">
          <button
            class="accordion-button collapsed"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#collapseOne"
            aria-expanded="false"
            aria-controls="collapseOne"
          >
            Книги
          </button>
        </h2>
        <div
          id="collapseOne"
          class="accordion-collapse collapse"
          data-bs-parent="#accordionExample"
        >
          <div class="accordion-body">
            <ul class="list-group">
              <li class="list-group-item">
                Трэвелл и Симонс. Миофасциальные боли и дисфункции. Руководство по триггерным точкам
                в 2 томах
              </li>
              <li class="list-group-item">
                Дэвис Клэр. Триггерные точки. Пошаговое руководство по терапии хронических мышечных
                и суставных болей
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="accordion-item">
        <h2 class="accordion-header">
          <button
            class="accordion-button collapsed"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#collapseThree"
            aria-expanded="false"
            aria-controls="collapseThree"
          >
            Группы и сообщества
          </button>
        </h2>
        <div
          id="collapseThree"
          class="accordion-collapse collapse"
          data-bs-parent="#accordionExample"
        >
          <div class="accordion-body">
            <ul class="list-group">
              <li class="list-group-item">
                <a href="https://t.me/trigger_points3" target="_blank" rel="noopener noreferrer"
                  >Telegram: Группа по миофасциальной боли</a
                >
              </li>
              <li class="list-group-item">
                <a
                  href="https://www.reddit.com/r/TriggerPointTherapy/"
                  target="_blank"
                  rel="noopener noreferrer"
                  >Reddit: community created to discuss and support those on the topic of myofascial
                  trigger points.</a
                >
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="accordion-item">
        <h2 class="accordion-header">
          <button
            class="accordion-button collapsed"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#collapseFour"
            aria-expanded="false"
            aria-controls="collapseFour"
          >
            Другие ресурсы
          </button>
        </h2>
        <div
          id="collapseFour"
          class="accordion-collapse collapse"
          data-bs-parent="#accordionExample"
        >
          <div class="accordion-body">
            <ul class="list-group">
              <li class="list-group-item">
                <a href="http://www.triggerpoints.net/" target="_blank" rel="noopener noreferrer"
                  >Карта триггерных точек (english)</a
                >
              </li>
              <li class="list-group-item">
                <a
                  href="https://www.youtube.com/watch?v=FjIDEIW10rY&list=PLR61E_PIpcmO0PoKiPZmOya8NS3N1Drtc&pp=0gcJCbAEOCosWNin"
                  target="_blank"
                  rel="noopener noreferrer"
                  >Анатомия и биомеханика (видео)</a
                >
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
